.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 300px;
  @media (min-width: 375px) {
    width: 300px;
    height: 300px;
  }
  @media (min-width: 768px) {
    width: 350px;
    height: 350px;
  }
  @media (min-width: 1440px) {
    width: 400px;
    height: 400px;
  }
}
