.backdrop {
  width: 100%;
  background-color: #112825;
  transition: left 0.5s ease-in-out 0s;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: -100%;
  bottom: 0px;
}

.menu-content {
  position: relative;
  height: 100%;
  padding: 25px;
}

.content-wrap {
  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}

.close {
  position: absolute;
  top: 25px;
  right: 0px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 50px;
}

.menu-link {
  font-size: 32px;
  color: #f5eaca;
}
